{% extends 'base.html' %}
{% load static %} 

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'style.css' %}">
{% endblock header %}

{% block content%}

<div class='container'>
  {% for item in object %}
  <div class="card">
      <h5 class="card-header">{{ item.user }}さん、こんにちは！</h5>
      <div class="card-body">
        <h5 class="card-title">金額：{{ item.bet }}</h5>
        <h5 class="card-title">id：{{ item.id }}</h5>
        <a href="{% url 'index' %}" class="btn btn-primary">ログアウト</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock content %}