{% extends 'base.html' %}
{% load static %} 

{% block content%}


<div class="container">
  <form class="form-signin" method='post'>{% csrf_token %}
<img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
<h1 class="h3 mb-3 font-weight-normal">ログイン</h1>
<label for="inputEmail" class="sr-only">Username</label>
<input type="text" id="inputEmail" class="form-control" placeholder="MACアドレス" name="username_data" required autofocus>
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" id="inputPassword" class="form-control" placeholder="HighLow ID" name="password_data" required>
<div class="checkbox mb-3">
</div>
<button id="btn-login" class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
<p class="signup"><a href="{% url 'signup' %}"><font size="5">新規登録はこちらから</font></a></p>
<p class="mt-5 mb-3 text-muted">&copy; 2020-2021 R&D</p>
</form>
</div>
{% endblock content %}